<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Administration</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Paramètres</h2>
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <h3>Badge de connexion PayUTC</h3>
                <div class="alert alert-info"><p>Ce badge permet de définir avec quels identifiants la connexion à PayUTC est réalisée.</p>
                    <p>Bien que cette méthode de connexion à PayUTC pour le serveur aie une configuration contraignante (il faut, pour se connecter, l'identifiant du badge et le PIN, à la façon d'une connexion sur les caisses), c'est celle qui une fois installée permet le fonctionnement le plus rapide du logiciel.</p>
                </div>
                <form>
                    <div class="form-group col-sm-12">
                        <label>Retrouver un badge à partir d'un.e étudiant.e...</label>
                        <input type="text" ng-disabled="searchingBadge" placeholder="Nom de l'étudiant.e..." class="form-control" ng-model="userToFind" typeahead-on-select="findUser($item)" uib-typeahead="user.name for user in typeahead($viewValue)" />
                    </div>
                    <div class="form-group col-sm-8">
                        <label>Badge de connexion (UID)</label>
                        <input type="text" class="form-control" ng-disabled="searchingBadge" ng-change="settings.NEMOPAY_CONNECTION_UID.changed = true" ng-model="settings.NEMOPAY_CONNECTION_UID.value" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Code PIN de l'utilisateur</label>
                        <input type="password" ng-model="settings.NEMOPAY_CONNECTION_PIN.value" ng-change="settings.NEMOPAY_CONNECTION_PIN.changed = true" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-sm-6">
                <h3>API Ginger</h3>
                <div class="alert alert-info">Ces paramètres permettent de définir d'où les informations sur les utilisateurs sont récupérées.</div>
                <form>
                    <div class="form-group col-sm-6">
                        <label>URL de l'API</label>
                        <input type="text" class="form-control" ng-change="settings.GINGER_URL.changed = true" ng-model="settings.GINGER_URL.value" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Clé de connexion</label>
                        <input type="text" class="form-control" ng-change="settings.GINGER_KEY.changed = true" ng-model="settings.GINGER_KEY.value" />
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-sm-6">
                <h3>Semestre en cours</h3>
                <div class="alert-info alert">
                    <p>Ce menu vous permet de choisir le semestre en cours, c'est à dire le semestre qui apparaîtra aux utilisateurs de Picsous.<br />
                    A partir du moment où vous changez un semestre, les perms des autres semestres n'apparaîtront plus aux utilisateurs de Picsous - pour les administrateurs, le système n'affichera par défaut que les factures du semestre en cours. Ils peuvent cependant naviguer entre les semestres grâce au menu déroulant en haut de l'écran.</p>
                    <p><strong>Ne changez pas de semestre si vous souhaitez juste consulter les informations d'un semestre !</strong> Pour cela, utilisez le menu déroulant.</p>
                </div>
                <select class="form-control" ng-options="semester.id as semester.abreviation for semester in semesters" ng-change="settings.SEMESTER.changed = true" ng-model="settings.SEMESTER.value">
                </select>
            </div>
            <div class="col-md-12 col-sm-6">
                <h3>API PayUTC</h3>
                <div class="alert alert-info">Ces paramètres permettent de définir la connexion au serveur PayUTC.</div>
                <form>
                    <div class="form-group col-sm-6">
                        <label>URL de l'API</label>
                        <input type="text" ng-change="settings.NEMOPAY_API_URL.changed = true" ng-model="settings.NEMOPAY_API_URL.value" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Clé de connexion</label>
                        <input type="text" ng-change="settings.NEMOPAY_API_KEY.changed = true" ng-model="settings.NEMOPAY_API_KEY.value" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
        <button ng-disabled="savingSettings" ng-click="saveSettings()" class="btn btn-primary btn-block">Sauvegarder</button>
    </div>
    <div class="col-md-6">
        <h2>Mode admin</h2>
        <div class="alert-info alert">
            <p>Ce mode vous permet de forcer la modification de données sensibles. Cliquer sur ce bouton vous permet d'avoir accès temporairement à ce mode sur cette machine.</p>
        </div>
        <button class="btn btn-lg btn-danger btn-block" ng-click="superadmin.setShowable(true)" ng-hide="superadmin.isShowable()">Autoriser le mode admin</button>
        <button class="btn btn-lg btn-primary btn-block" ng-click="superadmin.setShowable(false)" ng-show="superadmin.isShowable()">Désactiver le mode admin</button>
    </div>
    <div class="col-md-6">
        <h2>Créer un semestre</h2>
        <div class="alert alert-warning"><p><strong>Attention !</strong> Cette action n'est pas réversible.</p></div>
        <form class="form-inline" ng-submit="createSemester()">
            <select class="form-control" ng-model="newSemester.periode">
                <option value="A">Automne</option>
                <option value="P">Printemps</option>
            </select>
            <input type="number" class="form-control" placeholder="Année..." ng-model="newSemester.annee">
            <button class="btn btn-primary">Créer</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Utilisateurs</h2>
        <div class="alert alert-info"><p>Droits :</p>
            <ul>
                <li><strong>Pas d'accès :</strong> Pas d'accès à Picsous.</li>
                <li><strong>User :</strong> Peut ajouter et modifier une perm, et gérer les articles de la perm.</li>
                <li><strong>Admin :</strong> Peut modifier l'ensemble des paramètres et gérer l'ensemble des factures.</li>
            </ul>
            <p class="small">Le nom de l'utilisateur apparaît une fois qu'il s'est connecté pour la première fois à Picsous.</p>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Droits</th>
                </tr>
            </thead>
            <tr ng-repeat="user in users">
                <td ng-hide="user.name">{{user.login}}</td>
                <td ng-show="user.name">{{user.name}} (<i>{{user.login}}</i>)</td>
                <td>
                    <button ng-disabled="user.changingRight" ng-click="giveRight(user, 'A')" ng-show="user.right === 'P'" class="btn btn-primary">Nommer Admin</button>
                    <button ng-disabled="user.changingRight" ng-click="giveRight(user, 'P')" ng-show="user.right === 'A'" class="btn btn-warning">Rétrograder User</button>
                    <button ng-disabled="user.changingRight" ng-click="giveRight(user, 'P')" ng-show="user.right === 'N'" class="btn btn-primary">Donner accès</button>
                    <button ng-disabled="user.changingRight" ng-click="giveRight(user, 'N')" ng-show="user.right !== 'N'" class="btn btn-danger">Supprimer l'accès</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Nom de l'étudiant.e..." ng-model="newUser.login" typeahead-on-select="addUserLogin($item)" uib-typeahead="user.name for user in typeahead($viewValue)" />
                </td>
                <td><div class="form-group col-xs-8">
                        <select class="form-control" ng-model="newUser.right">
                            <option value="N">Aucun droit</option>
                            <option value="P">Utilisateur</option>
                            <option value="A">Administrateur</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" ng-disabled="creatingUser" ng-click="createUser()">Ajouter</button>
                </td>
        </table>
    </div>
</div>
