<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Chèques<button class="pull-right btn btn-primary" ng-click="addingCheque = !addingCheque">Ajouter</button></h1>
		</div>
	</div>
</div>
<div class="row">
	<div ng-class="{ 'col-md-8': chequeInModification, 'col-md-12': !chequeInModification }">
		<div class="panel panel-default" ng-show="addingCheque">
			<div class="panel-heading">
				Ajouter un chèque
			</div>
			<div class="panel-body">
				<form ng-submit="addCheque()">
					<div class="form-group col-md-4">
						<label>Destinataire</label>
						<input type="text" class="form-control" ng-model="newCheque.destinataire" />
					</div>
					<div class="form-group col-md-2">
						<label>Valeur</label>
						<input type="text" class="form-control" ng-model="newCheque.valeur" />
					</div>
					<div class="form-group col-md-2">
						<label>Numéro de talon</label>
						<input type="text" class="form-control" ng-model="newCheque.num" />
					</div>
					<div class="form-group col-md-4">
						<label>Etat</label>
						<select class="form-control" ng-model="newCheque.state">
							<option value="E">Encaissé</option>
							<option value="P">En cours</option>
							<option value="A">Annulé</option>
							<option value="C">Caution</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label>Date d'émission</label>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup datepicker-options="dateOptions" close-text="Fermer" is-open="popupOpen[0]" ng-required="true" ng-model="newCheque.date_emission" placeholder="AAAA-MM-JJ" />
							<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="openPopup(0)"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
						</p>
					</div>
					<div class="form-group col-md-6">
						<label>Date d'encaissement</label>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup datepicker-options="dateOptions" close-text="Fermer" is-open="popupOpen[1]" ng-required="true" ng-model="newCheque.date_encaissement" placeholder="AAAA-MM-JJ" />
							<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="openPopup(1)"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
						</p>
					</div>
					<div class="form-group col-md-12">
						<label>Commentaire</label>
						<textarea rows="3" ng-model="newCheque.commentaire" class="form-control"></textarea>
					</div>
					<button class="btn btn-primary">Ajouter le chèque</button>
				</form>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Réf.</th>
					<th>Destinataire</th>
					<th>Valeur</th>
					<th>État</th>
					<th>Date d'émission</th>
					<th>Date d'encaissement</th>
					<th>Facture</th>
				</tr>
			</thead>
			<tr ng-repeat="cheque in cheques | orderBy:'-num'">
				<td><a ng-click="modifyCheque(cheque)">{{ cheque.num }}</a></td>
				<td>{{cheque.destinataire}}</td>
				<td>{{cheque.valeur.toFixed(2)}} €</td>
				<td>
					<span ng-hide="cheque.quickChange"><span class="label" ng-class="getChequeStateLabel(cheque.state)">{{getChequeState(cheque.state)}}</span> <a href=""><span ng-click="cheque.quickChange = true" class="glyphicon glyphicon-pencil small"></span></a></span>
					<span ng-show="cheque.quickChange">
						<select class="form-control" ng-model="cheque.state">
							<option value="E">Encaissé</option>
							<option value="P">En cours</option>
							<option value="A">Annulé</option>
							<option value="C">Caution</option>
						</select>
						<button class="btn btn-sm btn-primary" ng-disabled="cheque.quicksave" ng-click="quickChange(cheque)"><span class="glyphicon glyphicon-ok"></span></button>
					</span>
				</td>
				<td>{{(cheque.date_emission | date) || '--'}}</td>
				<td>{{(cheque.date_encaissement | date) || '--'}}</td>
				<td><a href="#/facturesrecues/{{cheque.facturerecue}}" ng-show="cheque.facturerecue">Détails</a><span ng-hide="cheque.facturerecue">--</span></td>
			</tr>
		</table>
	</div>
	<div class="col-md-4" ng-show="chequeInModification">
		<div class="panel panel-default">
			<div class="panel-heading">
				Modifier un chèque
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Destinataire</label>
					<input type="text" class="form-control" ng-model="modifiedCheque.destinataire" />
				</div>	
				<div class="form-group">
					<label>Valeur</label>
					<input type="text" class="form-control" ng-model="modifiedCheque.valeur" />
				</div>
				<div class="form-group">
					<label>Numéro de talon</label>
					<input type="number" class="form-control" ng-model="modifiedCheque.num" />
				</div>
				<div class="form-group">
					<label>Etat</label>
					<select class="form-control" ng-model="modifiedCheque.state">
						<option value="E">Encaissé</option>
						<option value="P">En cours</option>
						<option value="A">Annulé</option>
						<option value="C">Caution</option>
					</select>
				</div>
					<div class="form-group">
						<label>Date d'émission</label>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup datepicker-options="dateOptions" close-text="Fermer" is-open="popupOpen[2]" ng-required="true" ng-model="modifiedCheque.date_emission" placeholder="AAAA-MM-JJ" />
							<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="openPopup(2)"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
						</p>
					</div>
					<div class="form-group">
						<label>Date d'encaissement</label>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup datepicker-options="dateOptions" close-text="Fermer" is-open="popupOpen[3]" ng-required="true" ng-model="modifiedCheque.date_encaissement" placeholder="AAAA-MM-JJ" />
							<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="openPopup(3)"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
						</p>
					</div>
				<div class="form-group">
					<label>Commentaire</label>
					<textarea rows="3" ng-model="modifiedCheque.commentaire" class="form-control"></textarea>
				</div>
				<button class="btn btn-primary" ng-disabled="sendingChequeModification" ng-click="sendChequeModification()">Sauvegarder</button> <button class="btn btn-danger" ng-click="deleteCheque(modifiedCheque)">Supprimer le chèque</button>
			</div>
		</div>
	</div>
</div>
<div ng-show="cas.isAdmin()" align="center">
	<hr>
	<p><a href="{{ chequesUrl }}">Télécharger au format Excel</a></p>
</div>
