<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1><a href="#/facturesrecues">Factures reçues</a> > <span ng-show="facture">{{ getCategoryCode(facture.categorie, categories) + facture.id + ' ' + (facture.nom_entreprise) }}</span><span ng-show="facture" class="pull-right"><button ng-hide="modifyingFacture" ng-click="modifyFacture()" class="btn btn-primary">Modifier</button> <button ng-hide="modifyingFacture" ng-click="deleteFacture()" class="btn btn-danger">Supprimer</button><button class="btn btn-primary" ng-show="modifyingFacture" ng-click="saveFacture()">Sauvegarder</button> <button class="btn btn-danger" ng-click="cancelModifyingFacture()" ng-show="modifyingFacture">Annuler</button></span></h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Détails</h2>
	</div>
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom entreprise</th>
					<th>Date</th>
					<th>Prix TTC</th>
					<th>TVA</th>
					<th>Date de paiement</th>
					<th>Personne à rembourser</th>
					<th>Date remboursement</th>
				</tr>
			</thead>
			<tr ng-hide="modifyingFacture">
				<td>{{facture.nom_entreprise}}</td>
				<td>{{facture.date | date}}</td>
				<td>{{facture.prix.toFixed(2)}} €</td>
				<td>{{tva.getVATFromTTCAndPercentage(facture.prix, facture.tva).toFixed(2)}} €</td>
				<td>{{facture.date_paiement | date}}</td>
				<td>{{facture.personne_a_rembourser}}</td>
				<td>{{facture.date_remboursement |date}}</td>
			</tr>
			<tr ng-show="modifyingFacture">
				<td><input type="text" class="form-control" ng-model="facture.nom_entreprise" /></td>
				<td>{{facture.date | date}}</td>
				<td><input type="text" class="form-control" ng-model="facture.prix" /></td>
				<td><input type="text" class="form-control" ng-model="facture.new_vat" /></td>
				<td><input type="text" class="form-control" ng-model="facture.date_paiement" /></td>
				<td><input type="text" class="form-control" ng-model="facture.personne_a_rembourser" /></td>
				<td><input type="text" class="form-control" ng-model="facture.date_remboursement" /></td>
			</tr>
		</table>
	</div>
	<div class="col-md-12">
		<h3>Informations complémentaires</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Moyen de paiement</th>
					<th>État</th>
					<th>Immobilisation</th>
					<th>Perm</th>
				</tr>
			</thead>
			<tr ng-hide="modifyingFacture">
				<td>{{facture.moyen_paiement}}</td>
				<td><span class="label" ng-class="stateLabel(facture.etat)">{{ state(facture.etat) }}</span></td>
				<td><input type="checkbox" ng-model="facture.immobilisation" disabled /></td>
				<td><a href="#/perm/{{facture.perm}}" ng-show="facture.perm">{{ permName + ' (' + permDate + ')' || 'Détails' }}</a><span ng-hide="facture.perm">Pas de perm</span></td>
			</tr>
			<tr ng-show="modifyingFacture">
				<td><input type="text" ng-model="facture.moyen_paiement" class="form-control" /></td>
				<td>
					<select class="form-control" ng-model="facture.etat">
						<option value="D">À payer</option>
						<option value="R">À rembourser</option>
						<option value="E">En attente</option>
						<option value="P">Payée</option>
					</select>
				</td>
				<td><input type="checkbox" ng-model="facture.immobilisation" /></td>

				<td ng-hide="changingPerm">
					<a href="#/perm/{{facture.perm}}" ng-show="facture.perm">{{ permName + ' (' + permDate + ')' || 'Détails' }}</a>
					<span ng-hide="facture.perm">Pas de perm</span>
					<button class="btn btn-xs btn-primary" ng-click="changePerm()">Changer</button>
				</td>

				<td ng-show="changingPerm">
					<select class="form-control" ng-model="facture.perm" ng-disabled="loadingPerms" ng-options="perm.id as perm.nomAndDate for perm in allPerms | orderBy:'nom'">
					</select>
					<button class="btn btn-xs btn-primary glyphicon glyphicon-ok" ng-click="saveChangingPerm()"></button> <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="cancelChangingPerm()"></button>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-12">
		<h3>Chèques<button class="pull-right btn btn-primary" ng-show="facture && !facture.cheque" ng-click="addingCheque = !addingCheque">Ajouter</button></h3>
		<div class="panel panel-default" ng-show="addingCheque">
			<div class="panel-heading">
				Ajouter un chèque
			</div>
			<div class="panel-body">
				<form ng-submit="addCheque()">
					<div class="form-group col-md-4">
						<label>Destinataire</label>
						<input type="text" class="form-control" ng-model="newCheque.destinataire" />
					</div>
					<div class="form-group col-md-2">
						<label>Valeur</label>
						<input type="text" class="form-control" ng-model="newCheque.valeur" />
					</div>
					<div class="form-group col-md-2">
						<label>Numéro de talon</label>
						<input type="text" class="form-control" ng-model="newCheque.num" />
					</div>
					<div class="form-group col-md-4">
						<label>Etat</label>
						<select class="form-control" ng-model="newCheque.state">
							<option value="E">Encaissé</option>
							<option value="A">Annulé</option>
							<option value="C">Caution</option>
						</select>
					</div>
					<div class="form-group col-md-12">
						<label>Commentaire</label>
						<textarea rows="3" ng-model="newCheque.commentaire" class="form-control"></textarea>
					</div>
					<button class="btn btn-primary">Ajouter le chèque</button>
				</form>
			</div>
		</div>
		<p ng-hide="facture.cheque_set">Pas de chèque associé à cette facture.</p>
		<div class="row" ng-show="facture.cheque_set">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Réf.</th>
							<th>Destinataire</th>
							<th>Valeur</th>
							<th>Etat</th>
						</tr>
					</thead>
					<tr ng-repeat="cheque in facture.cheque_set">
						<td><a href="#/cheques/{{cheque.id}}">{{ cheque.num }}</a></td>
						<td>{{ cheque.destinataire }}</td>
						<td>{{ cheque.valeur.toFixed(2) }} €</td>
						<td><span class="label" ng-class="getChequeStateLabel(cheque.state)">{{getChequeState(cheque.state)}}</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<h3>Remarque</h3>
		<p ng-hide="modifyingFacture">{{ facture.remarque }}</p>
		<textarea ng-model="facture.remarque" ng-show="modifyingFacture" class="form-control" rows="3" style="margin-bottom:5px;"></textarea>
	</div>
</div>
