<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Bienvenue dans Picsous !</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>Picsous est un outil interne au Pic'Asso visant à permettre la gestion de la trésorerie. Pour les membres de l'équipe du Pic'Asso, il permet de remplir les données financières pour chaque perm réalisée en astreinte. Pour l'équipe de trésorerie, il permet de visualiser de façon efficace ces données.</p>
		<p>Pour toute question, contactez l'équipe Info du Pic'Asso à l'adresse <a href="mailto:picasso-info@assos.utc.fr">picasso-info@assos.utc.fr</a>.</p>
	</div>
</div>
